<script src="~/Assets/plugins/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="~/Assets/dist/css/adminlte.css">
<link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="~/Assets/dist/css/animation.css">
<title>@ViewBag.Title - FPT HR System</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="~/Assets/dist/img/favicon.png">

<div class="area">
    @RenderBody()

    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>